[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
pandas = "*"
matplotlib = "*"
descartes = "*"
requests = "*"
ipython = "*"
astropy = "*"
jupyterlab = "*"
photutils = "*"
rasterio = "*"
scipy = "*"
rtree = "*"
pygeos = "*"

[dev-packages]

[requires]
python_version = "3.9"
